{% extends 'base.html' %}

{% block title %}
    {{ user.username }}的个人资料
{% endblock %}

{% block nav-home-active %}active{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-xs-10 col-xs-offset-1">
                {% if user.is_authenticated %}
                    <h2>{{ user.username }}</h2>
                    <ul>
                        <li>
                            昵称：{{ user.get_nickname }}
                            <a href="{% url 'change_nickname' %}?from={{ request.get_full_path }}">修改昵称</a>
                        </li>
                        <li>
                            邮箱：
                            {% if user.email %}
                                {{ user.email }}
                            {% else %}
                                用户未绑定邮箱
                                <a href="{% url 'bind_email' %}?from={{ request.get_full_path }}">绑定邮箱</a>
                            {% endif %}
                        </li>
                        <li>上一次登录的时间：{{ user.last_login | date:"Y-m-d H:i:s" }}</li>
                        <li><a href="#">修改密码</a></li>
                    </ul>
                {% else %}
                    <span>未登录，跳转首页...</span>
                    <script type="text/javascript">
                        {# 延迟1秒跳转 #}
                        window.setTimeout("window.location.href = '/'", 1000)
                    </script>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}