h3.home-content {
    font-size: 150%;
    text-align: center;
    margin-top: 2em;
    margin-bottom: 2em;
}

div#container {
    margin: 0 auto;
    height: auto;
    min-width: 20em;
    max-width: 30em;
}

div.hot-data {
    text-align: center;
    margin-top: 2em;
}
